<ion-view view-title="活动">
  <ion-content>
  		<ion-refresher on-refresh="doRefresh()"
			               pulling-text="松开可以刷新..." 
			               refreshing-text="正在努力获取新内容..."
			               refreshing-icon="ion-loading-b">
				
			</ion-refresher>
  		<ul class="content-ul">
          <li class="content-title">Hp活动：</li>
          <li class="comment-li">
            <div class="list activity-hp" ng-repeat="activing in activityList">
              <a class="item item-avatar" href="#/activityInfo/{{activing.id}}">
                <img src='{{!activing.imgpath ?"./img/nothing.jpg":activing.imgpath}}'>
                <h2 class="content-title"><label>{{activing.createtime | dateFilter}}</label></h2>
                <p style="font-weight:bold;padding-left: 38px;">{{activing.title}}</p>
              </a>
            </div>
          </li>
      </ul>
      <ul class="content-ul">
          <li class="content-title">已结束活动：</li>
          <li class="comment-li">
            <div class="list activity-hp" ng-repeat="actived in activedList">
              <a class="item item-avatar" href="#/activityInfo/{{actived.id}}">
                <img src='{{!actived.imgpath ?"./img/nothing.jpg":actived.imgpath}}'>
                <h2 class="content-title"><label>{{actived.createtime | dateFilter}}</label></h2>
                <p style="font-weight:bold;padding-left: 38px;">{{actived.title}}</p>
              </a>
            </div>
          </li> 
           <li style="height:30px;"></li> 
      </ul>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()"  on-infinite="loadMore()" distance=""> </ion-infinite-scroll>
    </ion-content>
</ion-view>
