<ion-view view-title="Hp活动">
  <ion-content>
  		<ul class="content-ul">
          <li class="content-title">Hp活动：</li>
          <li class="comment-li">
            <div class="list activity-hp" ng-repeat=" activing in activityList">
              <a class="item item-thumbnail-left" href="#/activityInfo/{{activing.id}}">
                  <img src='{{!activing.imgpath ?"./img/nothing.jpg":activing.imgpath}}'>
                  <p>{{activing.title}}</p>
              </a>
            </div>
          </li>
      </ul>
      <ul class="content-ul">
          <li class="content-title">已结束活动：</li>
          <li class="comment-li">
            <div class="list activity-hp" ng-repeat=" actived in activedList">
              <a class="item item-thumbnail-left" href="#/activityInfo/{{actived.id}}">
                  <img src='{{!actived.imgpath ?"./img/nothing.jpg":actived.imgpath}}'>
                  <p>{{actived.title}}</p>
              </a>
            </div>
          </li>
      </ul>
    </ion-content>
</ion-view>
