<ion-view>
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button button-clear" onclick="javascript:history.back(-1);">返回</button>
    </div>
    <h1 class="title">活动详情</h1>
  </ion-header-bar>
  <ion-content>
  		<ul class="content-ul">
          <li class="comment-li">
            <div class="list activity-hp">
              <a class="item item-avatar" href="#">
                  <img src="{{imgPath}}">
                  <h2 class="content-title"><label>{{activityInfo.createtime | dateFilter}}</label></h2>
                  <p style="font-weight:bold;padding-left: 38px;">{{activityInfo.title}}</p>
              </a>
            </div>
          </li>
          <li class="content-title">活动介绍：</li>
          <li class="comment-li" id="avtivityContent">
            
          </li>
          <li class="img-word-li" ng-repeat="i in imgList">
            <img src="{{i.imgpath}}">
          </li>
          <li class="content-title">已报名用户（{{activityInfo.totaluser}}）人：</li>
          <li class="comment-li user-list">
            <table>
                <tr><td>姓名</td><td>手机号码</td></tr>
                <tr ng-repeat="user in userList"><td>{{user.name | indexOfFilter:'1'}}</td><td>{{user.mobile | indexOfFilter:'4'}}</td></tr>
            </table>
          </li>
      </ul>
    </ion-content>
    <ion-footer-bar class="bar-assertive" ng-show="showApply">
        <input type="button" class="apply" ng-click="applyFun();" value="我要报名">
    </ion-footer-bar>
</ion-view>
