<ion-view>
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button">返回</button>
    </div>
    <h1 class="title">活动详情</h1>
  </ion-header-bar>
  <ion-content>
  		<ul class="content-ul">
          <li class="comment-li">
            <div class="list activity-hp">
              <a class="item item-thumbnail-left" href="#">
                  <img src="./img/activity.jpg">
                  <p>这个做的真的挺好的这个做的真的挺</p>
              </a>
            </div>
           
          </li>
          <li class="content-title">活动介绍：</li>
          <li class="comment-li">
             <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这个做的真的挺好的这个做的真的挺</p>
          </li>
      </ul>
    </ion-content>
    <ion-footer-bar class="bar-assertive">
        <input type="button" class="apply" value="我要报名">
    </ion-footer-bar>
</ion-view>
