<ion-view view-title="Hp活动">
  <ion-content>
  		<ul class="content-ul">
          <li class="content-title">Hp活动：</li>
          <li class="comment-li">
            <div class="list activity-hp">
              <a class="item item-thumbnail-left" href="#/activityInfo/1">
                  <img src="./img/activity.jpg">
                  <p>这个做的真的挺好的这个做的真的挺</p>
              </a>
            </div>
            <div class="list activity-hp">
              <a class="item item-thumbnail-left" href="#/activityInfo/1">
                  <img src="./img/activity.jpg">
                  <p>这个做的真的挺好的</p>
              </a>
            </div>
          </li>
      </ul>
      <ul class="content-ul">
          <li class="content-title">已结束活动：</li>
          <li class="comment-li">
            <div class="list activity-hp">
              <a class="item item-thumbnail-left" href="#/activityInfo/1">
                  <img src="./img/activity.jpg">
                  <p>这个做的真的挺好的这个做的真的挺</p>
              </a>
            </div>
            <div class="list activity-hp">
              <a class="item item-thumbnail-left" href="#/activityInfo/1">
                  <img src="./img/activity.jpg">
                  <p>这个做的真的挺好的</p>
              </a>
            </div>
          </li>
      </ul>
    </ion-content>
</ion-view>
