<ion-view view-title="今日头条">
  	<ion-content>
  		<ul class="content-ul">
  			<li class="content-title">
  				首届HP-EPM毕业生项目成果展示在圣都国际会议中心举行
  			</li>
  			<li class="li-span"><span>2015-09-28</span><span>惠普-济宁产业基地宣传中心</span></li>
  			<li class="img-word-li">
          <ion-slide-box>
              <ion-slide>
                <div class="box">
                    <img src="./img/image.jpg"/>
                </div>
              </ion-slide> 
              <ion-slide>
                <div class="box">
                    <img src="./img/image.jpg"/>
                </div>
              </ion-slide> 
            </ion-slide-box>
  			</li>
        <li class="paragraph-li">
            <span>惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心</span>
        </li>
  		</ul>
      <ul class="content-ul">
          <li class="content-title">相关评论：</li>
          <li class="comment-li">
            <div class="list">
              <a class="item item-thumbnail-left" href="#">
                  <img src="./img/person.jpg">
                  <h2 class="content-title">HP ID 00000012</h2>
                  <p>这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的</p>
              </a>
            </div>
            <div class="list">
              <a class="item item-thumbnail-left" href="#">
                  <img src="./img/person.jpg">
                  <h2>HP ID 00000012</h2>
                  <p>这个做的真的挺好的</p>
              </a>
            </div>
          </li>
      </ul>
  	</ion-content>
</ion-view>
