<ion-view view-title="今日头条">
  	<ion-content>
  		<ul class="content-ul">
  			<li>
  				首届HP-EPM毕业生项目成果展示在圣都国际会议中心举行
  			</li>
  			<li><span>2015-09-28</span><span>惠普-济宁产业基地宣传中心</span></li>
  			<li class="img-word-li">
  				<span class="span-img">
  					<img src="./img/image.jpg"/>
  					<img src="./img/image.jpg"/>
  				</span>
  				<span>惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心惠普-济宁产业基地宣传中心</span>
  			</li>
  		</ul>
  	</ion-content>
</ion-view>
