<ion-view view-title="头条详情">
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button button-clear" ng-click="returnPage()">返回</button>
    </div>
    <h1 class="title">详情</h1> 
  </ion-header-bar>
  <ion-content >  
	<ul class="content-ul" id="headInfo"> 
		
	</ul> 
    <ul class="content-ul">
          <li class="content-title">相关评论（{{headInfo.TOTALCOMMENT}}）条</li>
          <li class="publish-comment">
              <div class="list"><textarea id="content"  rows="3"></textarea></div>
              <input type="button" ng-click="subCommnet();" value="发表" >
          </li>
          <li class="comment-li" id="comment-li">
            	<div class="list" ng-repeat="news in newsCommentList">
	              <a class="item item-avatar" href="#">
	                  <img ng-src="{{!news.imgpath?'./img/nouser.jpg':news.imgpath}}">  
	                  <h2 class="content-title">{{news.name}}<label>{{news.createtime | dateFilter}}</label></h2>
	                  <p>{{news.content}}</p>
	              </a>
	            </div>
          </li>
          <li style="height:30px;"></li>  
    </ul>  
 	 <ion-infinite-scroll ng-if="moreDataCanBeLoaded()"  on-infinite="loadMore()" distance="5%"> </ion-infinite-scroll>
</ion-content>
</ion-view>
