<ion-modal-view>
  <ion-header-bar>
  <div class="buttons">
      <button class="button button-clear" ng-click="closeFun();">关闭</button>
   </div>
    <h1 class="title">发布Show</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeFun();">发布</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
        <label class="item item-input">
          <span class="input-label">标题：</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">内容：</span>
          <textarea  rows="3"></textarea>
        </label>
       
      </div>
  </ion-content>
</ion-modal-view>
