<ion-view>
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button button-clear" ng-click="callBack('app.tab.interaction')">返回</button>
    </div>
    <h1 class="title">Say Hi</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-navicon" ng-click="openPopover($event)"></button>
    </div>
  </ion-header-bar>
	 <ion-content class="say-hi">
	 
  	<ion-refresher on-refresh="doRefresh()"
	               pulling-text="松开可以刷新..." 
	               refreshing-text="正在努力获取新内容..."
	               refreshing-icon="ion-loading-b"> 
	</ion-refresher>
  		<ul class="content-ul">
         <li class="comment-li" ng-repeat="say in sayList">
          <div class="list">
            <a class="item item-avatar" href="#/info/1/{{say.id}}">
               <img ng-src="{{!say.imgpath ?'./img/nouser.jpg':say.imgpath}}">
              <h2 class="content-title">{{say.realname}}<label>{{say.createtime | dateFilter}}</label></h2>
              <p>{{say.content}}</p>
            </a>
          </div>
        </li> 
         <li style="height:30px;"></li> 
      </ul>
      <script id="my-popover.html" type="text/ng-template">
      <ion-popover-view style="width:100px;height:70px;background-color:#fff;"> 
        <ion-content>
            <ul style="border-radius:5px;">
              <li style="height:35px;line-height:35px;padding-left:10px;border-bottom:1px solid #ccc;">
                <a  href="#" ng-click="sayHi()">Say</a>
              </li>
              <li style="height:35px;line-height:35px;padding-left:10px;">
                <a  href="#" ng-click="refreshMySayHi()">刷新</a>
              </li>
            </ul>
        </ion-content>
      </ion-popover-view>
      </script> 
       <ion-infinite-scroll ng-if="moreDataCanBeLoaded()"  on-infinite="loadMore()" distance=""> </ion-infinite-scroll>
    </ion-content>
</ion-view>
