<ion-view view-title="Show me">
  <ion-content>
  		<ul class="content-ul">
          <li class="content-title">今天show：</li>
          <li class="comment-li">
            <div class="list">
              <a class="item item-thumbnail-left" href="#">
                  <img src="./img/person.jpg">
                  <h2 class="content-title">HP ID 00000012</h2>
                  <p>这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的</p>
              </a>
            </div>
            <div class="list">
              <a class="item item-thumbnail-left" href="#">
                  <img src="./img/person.jpg">
                  <h2>HP ID 00000012</h2>
                  <p>这个做的真的挺好的</p>
              </a>
            </div>
          </li>
      </ul>
      <ul class="content-ul">
          <li class="content-title">往日show：</li>
          <li class="comment-li">
            <div class="list">
              <a class="item item-thumbnail-left" href="#">
                  <img src="./img/person.jpg">
                  <h2 class="content-title">HP ID 00000012</h2>
                  <p>这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的这个做的真的挺好的</p>
              </a>
            </div>
            <div class="list">
              <a class="item item-thumbnail-left" href="#">
                  <img src="./img/person.jpg">
                  <h2>HP ID 00000012</h2>
                  <p>这个做的真的挺好的</p>
              </a>
            </div>
          </li>
      </ul>
    </ion-content>
</ion-view>
