<ion-view>
<ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button button-clear" onclick="javascript:history.back(-1);">返回</button>
    </div>
    <h1 class="title">话题详情</h1>
  </ion-header-bar>
 <ion-content>
  		<ul class="content-ul">
          <li class="comment-li">
            <div class="list activity-hp">
              <a class="item item-avatar" href="#">
                  <img src="{{imgPath}}">
                  <h2 class="content-title"><label>{{info.createtime | dateFilter}}</label></h2>
                  <p style="font-weight:bold;padding-left: 38px;">{{info.title}}</p>
              </a>
            </div>
          </li>
          <li class="content-title">{{info.realname}}：</li>
          <li class="comment-li" id="subjectContent">
             
          </li>
          <li class="img-word-li" ng-repeat="i in imgList">
            <img src="{{i.imgpath}}">
          </li>
      </ul>
      <ul class="content-ul">
          <li class="content-title">相关评论（{{TOTALCOMMENT}}）条：</li>
          <li class="publish-comment">
              <div class="list"><textarea id="content" rows="3"></textarea></div>
              <input type="button" value="发表" ng-click="subCommont();">
          </li>
          <li class="comment-li">
            <div class="list" ng-repeat="c in commonList">
              <a class="item item-avatar" href="#">
                  <img src="./img/person.jpg">
                  <h2 class="content-title">{{c.realname}}<label>{{c.createtime | dateFilter}}</label></h2>
                  <p>{{c.content}}</p>
              </a>
            </div>
          </li>
      </ul>
    </ion-content>
</ion-view>
