<ion-view view-title="话题">
 <ion-content>
   <ul class="content-ul">
         <!--  <li class="content-title">今日话题：</li> -->
          <li class="comment-li">
            <div class="list activity-hp" ng-repeat="sub in subJectList">
              <a class="item item-thumbnail-left" href="#/subjectInfo/{{sub.id}}">
                  <img src='{{!sub.imgpath ?"./img/nothing.jpg":sub.imgpath}}'>
                  <p>{{sub.title}}</p>
              </a>
            </div>
          </li>
          <div class="list" style="height:100px;">
          		 <div class="ui-loadmore ui-loading-wrap"  id="div_list">
	 
						<p id="loading_start" ng-click="loadMore()">加载更多</p>
					
					    <i class="ui-loading icon" id="loading_end1" style="display:none"></i>
				    	<p id="loading_end2" style="display:none">加载中</p> 
				  </div>  
          </div>
      </ul>
    </ion-content>
</ion-view>
