<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="头条" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/app/tab/headlines">
      <ion-nav-view name="tab-headlines"></ion-nav-view>
  </ion-tab>
  <ion-tab title="互动" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app/tab/interaction">
      <ion-nav-view name="tab-interaction"></ion-nav-view>
  </ion-tab>
  <ion-tab title="话题" icon-off="ion-ios-at-outline" icon-on="ion-ios-at" href="#/app/tab/subject">
      <ion-nav-view name="tab-subject"></ion-nav-view>
  </ion-tab>
  <ion-tab title="活动" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/app/tab/activity">
      <ion-nav-view name="tab-hp"></ion-nav-view>
  </ion-tab>
</ion-tabs>