<ion-tabs class="tabs-positive tabs-icon-only">
  <ion-tab title="今日头条" href="#/app/tab/headlines">
      <ion-nav-view name="tab-headlines"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Say Hi ~" href="#/app/tab/say">
      <ion-nav-view name="tab-say"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Show me ~" href="#/app/tab/show">
      <ion-nav-view name="tab-show"></ion-nav-view>
  </ion-tab>
  <ion-tab title="每日话题" href="#/app/tab/subject">
      <ion-nav-view name="tab-subject"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Hp活动" href="#/app/tab/activity">
      <ion-nav-view name="tab-hp"></ion-nav-view>
  </ion-tab>
</ion-tabs>