/* Empty. Add your own CSS if you like */

/****/

#wrapper { 
	top:45px; bottom:48px; left:-9999px;
	width:100%; 
	overflow:auto;
}

#scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}
 

#myFrame {
	position:absolute;
	top:0; left:0;
}



/**
 *
 * Pull down styles
 *
 */
#pullDown, #pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}



/****/
.bar.bar-assertive{
	background-color:#fff;
	border-color:#fff;
}
.bar.bar-stable{
	background-color:#0096d6;
}
.bar.bar-stable .title{
	color:#fff;
}
.bar .title.title-left{
	text-align:center;
}
.pane, .view{
	background-color:#e6e6e6;
}
.bar-stable .button.button-clear{
	color:#fff;
}
.tabs{
	background:#0096d6;
}
.item p{
	white-space:normal;	
}
a{
	text-decoration:none;
}
.popup-head {
	background-color: #0096d6;
}
.icon.white-word {
	color:#fff;
}
/*login css #0096d6*/
.login {
	background: url(../img/login-bg.png) repeat-x;
	background-size: 100% 100%;	
}
.login-logo {
	width: 100px;
	height: 100px;
	background: url(../img/logo.png) no-repeat;
	background-size: 100px 100px;
	margin: 100px auto;
	margin-bottom: 0;
}
.login-user,.login-but {
	padding-top:20px;
	width: 100%;
}
.login-user input:focus{
	background-color: #e5f8fe;
    border: 1px solid #12c1f6;
    color: #60D5F6;
}
.login-user input[type='text'],.login-user input[type='password'],.login-but input[type='button']{
	width: 90%;
	text-transform: none;
	font-size: 18px;
	color: #ccc;
	border-radius: 8px;
	margin-left: 5%;
	padding-top: 10px;
	height:48px;
}
.login-user input[type='text']:first-child {
	margin-bottom: 25px;
	background: url(../img/user_name.png) no-repeat left 10px center;
	background-size: 15px 24px;
	background-color: #fff;
	padding-left: 35px;
}
.login-user input[type='password']:last-child{
	background: url(../img/password.png) no-repeat left 10px center;
	background-size: 15px 24px;
	background-color: #fff;
	padding-left: 35px;
}
.login-but input[type='button']{
	background: #fff;
}
/***今日头条页***/
.content-ul {
	background:#fff;
	width:95%;
	margin:10px auto;
	border-radius: 5px;
}
.content-ul li{
	min-height: 44px;
	padding:15px 0 5px 0;
	margin-left: 15px;
	margin-right: 15px;
}
.content-ul li.li-span span:nth-child(1){
	margin-right: 15px;
}
.content-ul li.img-word-li{
	border-top: 1px solid #ccc;
	padding: 5px 0 15px 0;
}
.content-ul li.img-word-li img{
	display: block;
	width: 100%;
	height:150px;
}
.content-ul li.paragraph-li{
	line-height: 30px;
}
h2.content-title ,.content-title{
	font-weight: bold;
	color: #000; 
	font-size: 12px;
}
/*hp 活动*/
.list.activity-hp .item-avatar img{
	max-width: 82px;
    max-height: 54px;
}
.content-ul li div textarea {
	border: 1px solid #ccc;
	border-radius: 2px;
	width:100%;
	padding-left: 10px;
}
.content-ul li  input[type='button']{
	float: right;
	background-color: #0096d6;
	color:#fff;
	border:none;
	width: 80px;
    height: 25px;
}
.content-ul .publish-comment {
	height:100px;
}
.content-ul .publish-comment .list{
	margin-bottom: 9px;
}
/**我要报名**/
.apply {
	position: relative;
	left: 50%;
	color:#fff;
	background-color: #0096d6;
	border:none;
}
ion-modal-view .item{
	border:none;
}
ion-modal-view .input-label ,.publish-say .input-label{
	width:50px;
}
ion-modal-view .list{
	padding-top:20px;
}
ion-modal-view .item-input input, ion-modal-view .item-input textarea{
	border:1px solid #ccc;
	margin-right: 25px;
}
.publish-say input, .publish-say textarea{
	border:1px solid #ccc;
	margin-right: 25px;
}
.publish-say label {
	border:none;
}
.introduce img {
	width: 100%;
	height:100%;
}
.introduce a {
	position: absolute;
    bottom: 50px;
    left: 47%;
    border: 1px solid #ccc;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    color:#ccc;
}
.mine-info{
	margin:10px 10px 0 10px;
}
.mine-info label{
	border:none;
}
.mine-info .input-label{
	width: 70px;
}
.mine-info input[type='text'],.mine-info textarea,.mine-info input[type='password']{
	border:1px solid #ccc;
	margin-right: 40px;
	padding-left: 10px;
}
.content-ul li.user-list {
	padding: 15px 0 10px 0;
}
.content-ul li.user-list table{
	border:1px solid #ccc;
	width: 100%;
	text-align: center;
}
.content-ul li.user-list table tr:first-child{
	font-weight: bold;
}
.content-ul li.user-list table tr td{
	width:50%;
	height: 30px;
	line-height: 30px;
	border:1px solid #ccc;
}
.interaction ul{
	color: #fff;
	text-align:center;
	width:100%;
	height:100%;
	padding-top:15px;
}
.interaction  ul li{
	width:48%;
	height:88px;
	display: inline-block;
	cursor: pointer;
}
.interaction  ul li dl dd span {
	font-size:17px;
}
.interaction ul li.say-li{
	background-color:#9999cc;	
}
.interaction ul li.show-li{
	background-color:#ff6666;	
}
.comment-li h2 label{
	float: right;
	font-size: 12px;
}
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/*加载更多*/
.load_more {
    color: #a3a3a3;
    font-size: 1.5rem;
    padding: 1rem 0 1.5rem;
    text-align: center;
}
.load_more .load_moreIcon{
	display: inline-block;
	vertical-align: middle;
	width:30px; height:30px;
	margin:0 .5rem 0 -1rem;
	-webkit-transition-property:-webkit-transform;	

	background:url(../img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:cover; background-size:cover;
	background-position:0 100%;

	transform:rotate(0deg) translateZ(0);
	transition-duration:0ms;
	animation-name:loading;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;

	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;
	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@keyframes loading {
	from { transform:rotate(0deg) translateZ(0); 
	}
	to { transform:rotate(360deg) translateZ(0); }
}
@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
.overflow{
	height: 100%;
	overflow: hidden;
}
/*加载更多样式*/
.ui-loadmore {
	height: 36px;
    line-height: 36px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ebedef;
    border-radius: 1px;
    color: #545454;
    margin: 14px 40px;
}

.ui-loading-wrap {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    height: 40px;
}
.ui-loading-wrap {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  height: 40px; }
.ui-loading-wrap:active{
background-color: #f8f9fa;
}
.ui-loading-wrap .ui-loading {
    margin: 10px;
}
.ui-loading {
    -webkit-animation: rotate 1s steps(12) infinite;
}
.ui-loading {
    width: 20px;
    height: 20px;
    display: block;
    background: url(loading_sprite.png) no-repeat;
    -webkit-background-size: auto 20px;
}
.pop_up_box span {
  display: block;
  width: 47px;
  height: 47px;
  margin: 0 auto;
  margin-top: 42px;
}
span.loading {
  width: 60px;
  height: 60px;
  background: url(../img/loading.png) no-repeat;
  background-size: 100% 100%;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes loading {
  from { -webkit-transform: rotate(0deg) translateZ(0); }
  to { -webkit-transform: rotate(360deg) translateZ(0); }
}