/* Empty. Add your own CSS if you like */
.bar.bar-assertive{
	background-color:#fff;
	border-color:#fff;
}
.bar.bar-stable{
	background-color:#0096d6;
}
.bar.bar-stable .title{
	color:#fff;
}
.bar .title.title-left{
	text-align:center;
}
.pane, .view{
	background-color:#e6e6e6;
}
.bar-stable .button.button-clear{
	color:#fff;
}
.item-thumbnail-left > img:first-child{
	max-width: 58px;
    max-height: 78px;
}
.item p{
	white-space:normal;	
}
a{
	text-decoration:none;
}
.popup-head {
	background-color: #0096d6;
}
.icon.white-word {
	color:#fff;
}
/*login css #0096d6*/
.login {
	background: url(../img/login-bg.png) repeat-x;
	background-size: 100% 100%;	
}
.login-logo {
	width: 100px;
	height: 100px;
	background: url(../img/logo.png) no-repeat;
	background-size: 100px 100px;
	margin: 100px auto;
	margin-bottom: 0;
}
.login-user,.login-but {
	padding-top:20px;
	width: 100%;
}
.login-user input:focus{
	background-color: #e5f8fe;
    border: 1px solid #12c1f6;
    color: #60D5F6;
}
.login-user input[type='text'],.login-user input[type='password'],.login-but input[type='button']{
	width: 90%;
	text-transform: none;
	font-size: 18px;
	color: #ccc;
	border-radius: 8px;
	margin-left: 5%;
	padding-top: 10px;
	height:48px;
}
.login-user input[type='text']:first-child {
	margin-bottom: 25px;
	background: url(../img/user_name.png) no-repeat left 10px center;
	background-size: 15px 24px;
	background-color: #fff;
	padding-left: 35px;
}
.login-user input[type='password']:last-child{
	background: url(../img/password.png) no-repeat left 10px center;
	background-size: 15px 24px;
	background-color: #fff;
	padding-left: 35px;
}
.login-but input[type='button']{
	background: #fff;
}
/***今日头条页***/
.content-ul {
	background:#fff;
	width:95%;
	margin:10px auto;
	border-radius: 5px;
}
.content-ul li{
	min-height: 44px;
	padding:15px 0 5px 0;
	margin-left: 15px;
	margin-right: 15px;
}
.content-ul li.li-span span:nth-child(1){
	margin-right: 15px;
}
.content-ul li.img-word-li{
	border-top: 1px solid #ccc;
	padding: 5px 0 15px 0;
}
.content-ul li.img-word-li img{
	display: block;
	width: 100%;
	height:150px;
}
.content-ul li.paragraph-li{
	line-height: 30px;
}
h2.content-title {
	font-weight: bold;
	color: #000; 
	font-size: 12px;
}
/*hp 活动*/
.list.activity-hp .item-thumbnail-left{
	min-height: 75px;
}
.list.activity-hp .item-thumbnail-left img{
	max-width: 82px;
    max-height: 54px;
}
.list.activity-hp .item-thumbnail-left p{
	padding-left: 10px;
	font-weight: bold;
	padding-top: 20px;
}
.content-ul li div textarea {
	border: 1px solid #ccc;
	border-radius: 2px;
	width:100%;
	padding-left: 10px;
}
.content-ul li  input[type='button']{
	float: right;
	background-color: #0096d6;
	color:#fff;
	border:none;
	width: 80px;
    height: 25px;
}
.content-ul .publish-comment {
	height:100px;
}
.content-ul .publish-comment .list{
	margin-bottom: 9px;
}
/*say hi*/
.say-hi .item-thumbnail-left,.show .item-thumbnail-left{
	min-height: 130px;
}
.say-hi .item-thumbnail-left span,.info .item-thumbnail-left span,.show .item-thumbnail-left span{
	display: inline-block;
}
.say-hi .item-thumbnail-left span:nth-child(1),.info .item-thumbnail-left span:nth-child(1),.show .item-thumbnail-left span:nth-child(1){
	position: absolute;
	float: left;
    left: 15px;
    width:100px;
}
.say-hi .item-thumbnail-left span:nth-child(2),.info .item-thumbnail-left span:nth-child(2),.show .item-thumbnail-left span:nth-child(2){
	padding-left: 25px;
}
.say-hi .item-thumbnail-left span img,.info .item-thumbnail-left span img,.show .item-thumbnail-left span img{  
    max-width: 58px;
    max-height: 78px;
    width: 100%;
    height: 100%;
}
/**我要报名**/
.apply {
	position: relative;
	left: 50%;
	color:#fff;
	background-color: #0096d6;
	border:none;
}
ion-modal-view .item{
	border:none;
}
ion-modal-view .input-label ,.publish-say .input-label{
	width:50px;
}
ion-modal-view .list{
	padding-top:20px;
}
ion-modal-view .item-input input, ion-modal-view .item-input textarea{
	border:1px solid #ccc;
	margin-right: 25px;
}
.publish-say input, .publish-say textarea{
	border:1px solid #ccc;
	margin-right: 25px;
}
.publish-say label {
	border:none;
}
.introduce img {
	width: 100%;
	height:100%;
}
.introduce a {
	position: absolute;
    bottom: 50px;
    left: 47%;
    border: 1px solid #ccc;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    color:#ccc;
}
.mine-info{
	margin:10px 10px 0 10px;
}
.mine-info label{
	border:none;
}
.mine-info .input-label{
	width: 70px;
}
.mine-info input[type='text'],.mine-info textarea,.mine-info input[type='password']{
	border:1px solid #ccc;
	margin-right: 40px;
	padding-left: 10px;
}
.content-ul li.user-list {
	padding: 15px 0 10px 0;
}
.content-ul li.user-list table{
	border:1px solid #ccc;
	width: 100%;
	text-align: center;
}
.content-ul li.user-list table tr:first-child{
	font-weight: bold;
}
.content-ul li.user-list table tr td{
	width:50%;
	height: 30px;
	line-height: 30px;
	border:1px solid #ccc;
}
.interaction ul{
	margin: 20px auto;
}
.interaction ul li{
	display: inline-block;
	width:100%;
	text-align: center;
}
.interaction a{
    display: inline-block;
    width: 150px;
    height: 100px;
    line-height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
    background: url(../img/background.png) no-repeat center;
}
/*.headlines-on{
	background: url(../img/headed.png) no-repeat center;
}
.headlines-off{
	background: url(../img/head.png) no-repeat center;
}
.interaction-on{
	background: url(../img/interactioned.png) no-repeat center;
}
.interaction-off{
	background: url(../img/interaction.png) no-repeat center;	
}
.subject-on{
	background: url(../img/subjected.png) no-repeat center;
}
.subject-off{
	background: url(../img/subject.png) no-repeat center;	
}
.activity-on{
	background: url(../img/activityed.png) no-repeat center;
}
.activity-off{
	background: url(../img/activity.png) no-repeat center;
}
.tab-item .icon{
	height: 30px;
}
.tab-title{
	font-size: 12px;
}*/
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/*加载更多*/
.load_more {
    color: #a3a3a3;
    font-size: 1.5rem;
    padding: 1rem 0 1.5rem;
    text-align: center;
}
.load_more .load_moreIcon{
	display: inline-block;
	vertical-align: middle;
	width:30px; height:30px;
	margin:0 .5rem 0 -1rem;
	-webkit-transition-property:-webkit-transform;	

	background:url(../img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:cover; background-size:cover;
	background-position:0 100%;

	transform:rotate(0deg) translateZ(0);
	transition-duration:0ms;
	animation-name:loading;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;

	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;
	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@keyframes loading {
	from { transform:rotate(0deg) translateZ(0); 
	}
	to { transform:rotate(360deg) translateZ(0); }
}
@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
.overflow{
	height: 100%;
	overflow: hidden;
}
/*加载更多样式*/
.ui-loadmore {
	height: 36px;
    line-height: 36px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ebedef;
    border-radius: 1px;
    color: #545454;
    margin: 14px 40px;
}

.ui-loading-wrap {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    height: 40px;
}
.icon{
  -webkit-animation-name: fadeIn; /*动画名称*/
  -webkit-animation-duration: 0.5s; /*动画持续时间*/
  -webkit-animation-iteration-count: 1; /*动画次数*/
  -webkit-animation-delay: 0s; /*延迟时间*/
}
.ui-loading-wrap {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  height: 40px; }
.ui-loading-wrap:active{
background-color: #f8f9fa;
}
.ui-loading-wrap .ui-loading {
    margin: 10px;
}
.ui-loading {
    -webkit-animation: rotate 1s steps(12) infinite;
}
.ui-loading {
    width: 20px;
    height: 20px;
    display: block;
    background: url(loading_sprite.png) no-repeat;
    -webkit-background-size: auto 20px;

}